.ems-page {
    &-member{
        .ems-page-default-message{
            .page-top-desc{display:none;}
            .ems-message-error {
                span {
                    font-size: 28px;
                    display: block !important;
                    margin-top: 50px;
                    &:before {
                        content: "\e915";
                        font-family: 'icomoon';
                        font-size: 70px;
                        margin-bottom: 20px;
                        display: block;
                    }
                }
            }
        }

        .ems-grid-message{
            .ems-grid-header{
                &:first-child{
                    display: table;
                    table-layout: fixed;
                    width: 100%;
                }
                > div{
                    display: table-cell;
                    vertical-align: middle;
                    font-family: $sbold;
                    font-size: 13px;
                    color: #fff;
                    padding-top: 15px;
                }
            }
            .ems-grid-header{
                margin: 0 0 10px 0;

                .col-1{
                    span{
                        display: inline-block;
                        text-indent: -999em;
                    }
                }
            }
            .ems-grid-row{
                padding-top: 20px;
                padding-bottom: 20px;
                border: 1px solid $gray;
                border-bottom: 0;
                &:last-child {
                    border: 1px solid $gray;
                }
                > div{
                    font-size: 14px;
                    color: #fff;
                }
            }
            .ems-grid-header, .ems-grid-row{
                .col-1{width:30px; padding-left: 0; padding-right: 0; display: none;}
                .col-2{width:20%;}
                .col-3{width:25%;}
                .col-4{width:25%;}
                .col-5{width:10%;}
            }
            .ems-grid-row.newMessage{
                .col-2{
                    position: relative;
                    &:before{
                        content:'YENİ';
                        display: inline-block;
                        position: absolute;
                        top: -10px;
                        left: 15px;
                        font-size: 13px;
                        font-family: $bold;
                        color: #0066ff;
                    }
                }
                > div{
                    color: $green;
                }
            }
        }
    }
}

.en-US .ems-page-member .ems-grid-message .ems-grid-row.newMessage .col-2:before {content:'NEW';}
.ru-RU .ems-page-member .ems-grid-message .ems-grid-row.newMessage .col-2:before {content:'НОВЫЙ';}

.ems-page-default-question {
    margin-top: 30px;
}

.ems-page-default{
    &-message-detail{
        .ems-message-type, .msgDtHeader, .msgDtContent{
            li{
                display: table;
                width: 100%;
                table-layout: fixed;
                text-align: center;
                > span{
                    display: table-cell;
                    vertical-align: middle;
                    border: 1px solid $gray;
                    padding: 10px;
                    &:first-child{
                        border-right: 0;
                    }
                }
                &:first-child{
                    > span{border-bottom: 0; font-size: 16px; font-family:$bold; color: #231f20;}
                }
            }
        }
        .ems-message-type {
            > li:first-child {
                background: $gray;
                span {
                    color: #fff;
                }
            }
        }
        .msgDtList{
            margin-bottom: 30px;
            &:before, &:after{
                content:'';
                font-size: 0;
                width: 100%;
                height: 0;
                clear: both;
                height: 0;
                overflow: hidden;
            }
            .msgDtHeader, .msgDtContent{
                ul{
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    text-align: center;
                    li{
                        text-align: center;
                        display: table-cell;
                        vertical-align: middle;
                        border: 1px solid $gray;
                        &:first-child{border-right:0;}
                        > span{
                            border:none;
                            display: block;
                            &:first-child{
                                font-size: 13px;
                                color: #fff;
                                font-family: $regular;
                            }
                        }
                    }
                }
            }
            .msgDtHeader{
                ul{
                    li{
                        border-bottom: 0;
                        background: $gray;
                        span {
                            color: #fff;
                        }
                        > span:first-child{font-size: 16px; font-family:$bold; color: #231f20;}
                    }
                }
            }
        }
        .tableTitleMesajGonder{
            span{
                font-size: 15px;
                font-family: $bold;
                padding: 30px 0;
                display: block;
            }
        }
        .tableMesajGonder_aciklama{
            font-size: 13px;
            color: #727272;
            padding-bottom: 30px;
        }
        .btnMesajKonuYeniGonder{margin-right: 5%;}
        .btnMesajKonuYeniGonder, .btnMesajCozuldu{
            max-width: 250px;
        }
        .mesajGonder{
            .tableMesajMetin{
                > tbody{
                    > tr{
                        > th{
                            display: block;
                            width: 100%; 
                            padding-bottom: 10px;
                        }
                        > td{
                            display: block;
                            width: 100%; 
                        }
                        &.tableMesaj_trlbfUYE_ACIKLAMA{
                            font-size: 13px;
                            color: #727272;
                        }
                    }
                }
            }
            .pageMesajGonder_CaptchaImage1{
                max-width: 250px;
                > div{
                    img, input{ margin-bottom: 10px;}
                    > span{display: block; font-size: 13px; color: #727272;}
                }
            }
            .pageMesajGonder_btnMesajGonder{
                table{
                    display: table !important;
                    text-align: left;
                    a.btnDefault {
                        max-width: 250px;
                        margin-top: 10px;
                        background: #00579c;
                        &:hover{
                            background: #f05201;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $breakpointXSM){
    .ems-page {
        &-member{
            .ems-grid-message{
                > div > div {
                    margin: 0;
                    height: 50px;
                    display: flex !important;
                    align-items: center;
                }
                .ems-grid-header {
                    padding: 0 !important;
                    border-width:1px 0 1px 1px !important;
                    border-style: solid !important;
                    border-color: $lGray !important;
                    > div {
                        width: 100% !important;
                        max-width: none;
                        justify-content: flex-start;
                        border-bottom: 1px solid $lGray;
                        border-right: 1px solid $lGray;
                        span {
                            padding-left: 20px;
                        }
                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                    .col-1 span {
                        text-indent: 0;
                        font-size: 16px;
                    }
                }
                .ems-grid-row{
                    padding: 0 !important;
                    border-width:1px 1px 1px 0 !important;
                    border-style: solid !important;
                    border-color: $lGray !important;
                    > div {
                        justify-content:center;
                        font-size: 12px !important;
                        color: $aGray;
                        border-bottom: 1px solid $lGray;
                        padding: 0 5px !important;
                        a {
                            font-size: 12px !important;
                            text-align: center;
                        }
                        &:last-child {
                            border-bottom: 0;
                        }
                    }
                    .col-1{
                        width: 100% !important;
                        max-width: none;
                        img {
                            display: none;
                        }
                        &::before {
                            content: '\e916';
                            font-family: 'icomoon';
                            font-size: 24px;
                            color: $aGray;
                            display: inline-block;
                        }
                        
                    }
                    .col-2, .col-3, .col-4, .col-5{width:100%; padding:0; max-width: none;}
                    .col-2 {
                        &:before {
                            top: -25px !important;
                            right: 0px;
                            left: auto;
                            display: none !important;
                        }
                    }
                    .col-5{
                        text-align: left;
                        .lnkMesajOku{
                            display: inline-block;
                            color: $blue;
                            font-size: 14px;
                            margin-top: 5px;
                        }
                    }
                    &.newMessage {
                        .col-1{
                            &::before {
                                content: '\e915';
                                color: #fff;
                            }
                            
                        }
                    }
                }
            }
        }
    }
    .pageMesajGonder {
        .ems-form-inner {
            .ems-field {
                margin-bottom: 20px !important;
                select, input, textarea, .sStylerWrp {
                    background: $lGray; 
                }
            }
        }
    }
    .ems-page-default{
        &-message-detail{
            .btnMesajKonuYeniGonder{margin-right:0;}
            .btnMesajKonuYeniGonder, .btnMesajCozuldu{
                max-width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .btnMesajCozuldu{margin-top: 20px;}
            .mesajGonder{
                .pageMesajGonder_CaptchaImage1{max-width: 100%;}
                .pageMesajGonder_btnMesajGonder{
                    table{
                        a.btnDefault {
                            max-width: 100%;
                            padding-top: 20px;
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}